<?php

$max_size=false; // Максимальный размер файла для заливки. Если false, то автоматически определяется из ограничений в php.ini
$reserved_space=100*1024*1024; // Зарезервированное место. Если свободного места меньше чем указано, то заливка отключается
$last_count=3; // Число отображаемых последних загруженных файлов
$save_path='/var/www/upload/'; // Куда сохранять файлы
$url_base='http://example.com/upload/'; // Базовый URL, по которому эти файлы доступны. «/» в конце обязателен
$template_prefix='glossy_'; // Префикс для файлов шаблонов
$xattr_delpwd='deletepwd'; // Имя атрибута в котором сохранять хеш кода удаления

@include_once $template_prefix.'settings.php';
